body{
	margin: 0;
	padding: 0;
}
#header-nav{
	background-color: #f38e88;
	border-radius: 0;
	border: 0;
}
.navbar-brand{
	padding-top: 20px;
	padding-bottom: 40px;
}
.navbar-brand h1{ 
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 1.4em;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}
#nav-list{
	margin-top: 10px;
}
#nav-list a{
	font-size: 1em;
	text-align: center;
	color: #000;
}
#nav-list a:hover{
	background-color: #e7e7e7;
}
button.navbar-toggle, .icon-bar{
	border: 1px solid #000;
}
button.navbar-toggle{
	clear: both;
	margin-top: -20px;
}
div#collapsable-nav{
	min-width: 100%;
	border: 0;
}
h2#page-title{
	font-family: Arial, Helvetica, sans-serif;
	color: #0034;
}
.box>.box-content{
	margin-left: 10px;
	margin-right: 10px;
	border: 2px solid #000;
	padding: 10px;
	background-color: #e7e7e7;
	margin: 10px;
	height: 700px;
}
.box{
	font-family: Helvetica, Arial, sans-serif;
	margin-top: 15px;
	padding: 0;
}
.box h3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
}
a.to-top{
	position: absolute;
	bottom: 15px;
	right: 20px;
}