*{
	box-sizing: border-box;
	margin: 0;
}

body{	
	padding: 40px;
}

h1{
	font-family: Arial, sans-serif;
	font-size: 1.75em;
	text-align: center;
	margin-bottom: 20px;
}

section{
	border: 1px solid #000;
	float: left;
	background-color: #6668CC;
}

section>h2{
	font-family: Arial, sans-serif;
	font-size: 1.25em;
	border: 1px solid #000;
	padding: 0 10px ;
	float: right;
	clear: left;
}

p{
	font-family: Helvetica, sans-serif;
	font-size: 1em;
	color: #fff;
	float: left;
	padding: 10px;
}

#sec-title1{
	background-color: #DBF2D9;
}
#sec-title2{
	background-color: #ECC6D6;
}
#sec-title3{
	background-color: #AFE4BB;
}



/* Mobile */
@media (max-width: 767px){
	body{
		padding: 20px;
	}
	section{
		width: 100%;
		margin-top: 20px;
	}
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
	#sec1{
		width: 50%;
		margin: 20px 20px 10px -20px;
	 }
	#sec2{
		width: 50%;
		margin: 20px -20px 10px 20px;
		}
	#sec3{		
		min-width: 100%;
		margin: 20px -20px 20px -20px; 
	}
}

/* Desktop */
@media (min-width: 992px) {
	section{
		width: 33.33%;
	}
	#sec1{
	margin:10px 10px 10px -20px;
	 }
	#sec2{
		margin: 10px;
		}
	#sec3{
		margin:10px -20px 10px 10px; 
	}

}
